.main-page{
    width: 950px;
    min-height: 100%;
    height:auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    background-color: rgba(240,240,240,0.2);
}
.login-box{
    width: 400px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    text-align: center;
    border-color: #333333;
    border-radius: 10px;
}
.submit{
    width: 150px;
    height: 30px;
    background-color: rgb(62,141,226);
    margin-top: 20px;
    
    color: #FFFFFF;
    text-align: center;
    font-weight: bolder;
    font-size: 15px;
    text-decoration: underline;
    cursor: pointer;
}
.content{
    padding-top: 20px;
    text-align: center;
    width: 950px;
    background-color: rgba(240, 240, 240, 0.5);
    box-shadow: #333333;
}
.tip{
    font-size:20px ;
    color: #333333;
    background-color: #eeeeee;
    height: 30px;
    width: 900px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 25px;
    text-align: left;
}
.graph-back{
    width: 900px;
    height: 600px;
    margin-left: 25px;
    margin-top: 5px;
    padding-top: 20px ;
    background-color: #ffffff;
}
.register-box{
    width: 400px;
    height: 600px;
    margin: auto auto auto auto;
}
.head-item {
    font-size: 20px;
    font-weight: bolder;
    color: #999999;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}
.header {
     background-color: #FFFFFF;
     padding: 10px 30px;
     max-height: 60px;
     min-width: 1024px;
     width: 100%;
    text-align: center;
     top: 0;
     left: 0;
     position: fixed;
     z-index: 999;

 }
.head-item a {
    font-size: 20px;
    font-weight: bolder;
    color: #999999;
}

.head-item a:hover{
    color: #111111;
}
.textfield{
    width: 150px;
    height: 30px;
    margin-top: 20px;
}
.tagContent{
    background-color: #FFFFFF;
    padding: 10px 30px;
    max-height: 60px;
    min-width: 1024px;
    width: 100%;
    text-align: center;
    z-index: 999;
}
a {
    text-decoration: none;
}
